{% extends "commerce/_layouts/promotions" %}
{% set selectedSidebarNavItem = 'discounts' %}

{% set tableData = [] %}
{% for discount in discounts %}
    {% set tableData = tableData|merge([{
        id: discount.id,
        name: discount.name,
        status: discount.enabled ? true : false,
        url: url('commerce/promotions/discounts/' ~ discount.id),
        code: discount.code,
        duration: (discount.dateFrom ? discount.dateFrom|datetime('short'): '∞') ~ ' - ' ~ (discount.dateTo ? discount.dateTo|datetime('short') : '∞'),
        totalUses: discount.totalUses,
        stopProcessing: discount.stopProcessing ? true : false,
        ignoreSales: discount.ignoreSales ? true : false,
    }]) %}
{% endfor %}

{% block actionButton %}
    <div class="buttons">
        <a href="{{ url('commerce/promotions/discounts/new') }}"
           class="btn submit add icon">{{ 'New discount'|t('commerce') }}</a>
    </div>
{% endblock %}


{% block content %}
    <h2>{{ "Discounts"|t('commerce') }}</h2>

    <div id="no-discounts"{% if discounts|length %} class="hidden"{% endif %}>
        <p>{{ "No discounts exist yet."|t('commerce') }}</p>
    </div>

    {% if discounts|length %}
        <table id="discounts" class="data fullwidth collapsible">
            <thead>
            <tr>
                <th scope="col">{{ "Name"|t('commerce') }}</th>
                <th scope="col">{{ "Code"|t('commerce') }}</th>
                <th scope="col">{{ "Duration"|t('commerce') }}</th>
                <th scope="col">{{ "Times Used"|t('commerce') }}</th>
                <th scope="col">{{ "Stops Processing?"|t('commerce') }}</th>
                <th scope="col">{{ "Ignore Sales?"|t('commerce') }}</th>
                <td class="thin"></td>
                <td class="thin"></td>
            </tr>
            </thead>
            <tbody>
            {% for discount in discounts %}
                <tr data-id="{{ discount.id }}" data-name="{{ discount.name }}">
                    <th scope="row" data-title="{{ 'Name'|t('commerce') }}">
                        {% if discount.enabled %}
                            <div class="status enabled"></div>
                        {% else %}
                            <div class="status"></div>
                        {% endif %}
                        <a href="{{ url('commerce/promotions/discounts/'~discount.id) }}">{{ discount.name }}</a>
                    </th>
                    <td data-title="{{ 'Code'|t('commerce') }}"
                        class="code">{{ discount.code }}</td>
                    <td data-title="{{ 'Duration'|t('commerce') }}">
                        {{ (discount.dateFrom ? discount.dateFrom|datetime('short'): '∞') }}
                        -
                        {{ (discount.dateTo ? discount.dateTo|datetime('short') : '∞') }}
                    </td>
                    <td data-title="{{ 'Times Coupon Used'|t('commerce') }}">{{ discount.totalUses }}</td>
                    <td data-title="{{ 'Can Stop Processing?'|t('commerce') }}">
                        {% if discount.stopProcessing %}
                          <span data-icon="check" title="{{ 'Yes'|t('commerce') }}"></span>
                        {% endif %}
                    </td>
                    <td data-title="{{ 'Ignore Sales?'|t('commerce') }}">
                        {% if discount.ignoreSales %}
                          <span data-icon="check" title="{{ 'Yes'|t('commerce') }}"></span>
                        {% endif %}
                    </td>
                    <td class="thin">
                        <a class="move icon disabled"
                           title="{{ 'Delete'|t('commerce') }}"
                           role="button"></a>
                    </td>
                    <td class="thin"><a class="delete icon"
                                        title="{{ 'Delete'|t('commerce') }}"
                                        role="button"></a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

        <br>
        <br>
        <br>
        <br>

        <h2>API mode</h2>
        <div id="discounts-admin-table"></div>
        <hr>
        <h2>Data Mode</h2>
        <div id="discounts-admin-table2"></div>
    {% endif %}
{% endblock %}

{% js %}
    var adminTable = new Craft.AdminTable({
      tableSelector: '#discounts',
      noObjectsSelector: '#no-discounts',
      deleteAction: 'commerce/discounts/delete',
      sortable: true,
      reorderAction: 'commerce/discounts/reorder',
      reorderSuccessMessage: Craft.t('commerce', 'Discounts reordered.') ,
      reorderFailMessage:    Craft.t('commerce', 'Couldn’t reorder discounts.')
    });

    var columns = [
        { name: '__slot:statusName', title: Craft.t('commerce', 'Name'), sortField: 'name' },
        { name: 'code', title: Craft.t('commerce', 'Code') },
        { name: 'duration', title: Craft.t('commerce', 'Duration') },
        { name: 'totalUses', title: Craft.t('commerce', 'Times Used'), sortField: 'totalUses' },
        {
            name: 'stopProcessing',
            title: Craft.t('commerce', 'Stop Processing'),
            callback: function(value) {
                return (value) ? '<span data-icon="check" title="'+Craft.t('app', 'Yes')+'"></span>' : '<span></span>';
            }
        },
        {
            name: 'ignoreSales',
            title: Craft.t('commerce', 'Ignore Sales?'),
            callback: function(value) {
                return (value) ? '<span data-icon="check" title="'+Craft.t('app', 'Yes')+'"></span>' : '<span></span>';
            }
        }
    ];

    var actions = [
        {
            label: Craft.t('app','Set Status'),
            actions: [
                {
                    label: Craft.t('app', 'Enabled'),
                    action: 'commerce/discounts/update-statuses',
                    param: 'status',
                    value: 'enabled',
                    status: 'enabled'
                },
                {
                    label: Craft.t('app', 'Disabled'),
                    action: 'commerce/discounts/update-statuses',
                    param: 'status',
                    value: 'disabled',
                    status: 'disabled'
                }
            ]
        },
        {
            label: 'Reorder',
            actions: [
                {
                    label: Craft.t('app', 'Move up'),
                    action: 'commerce/discounts/update-sort-order',
                    param: 'move',
                    value: 'up',
                    ajax: true
                },
                {
                    label: Craft.t('app', 'Move down'),
                    action: 'commerce/discounts/update-sort-order',
                    param: 'move',
                    value: 'down',
                    ajax: true
                },
                {
                    label: Craft.t('app', 'Move To Top'),
                    action: 'commerce/discounts/update-sort-order',
                    param: 'move',
                    value: 'top',
                    ajax: true
                },
                {
                    label: Craft.t('app', 'Move To Bottom'),
                    action: 'commerce/discounts/update-sort-order',
                    param: 'move',
                    value: 'bottom',
                    ajax: true
                }
            ]
        }
    ];

    var vueAdminTable = new Craft.VueAdminTable({
        actions: actions,
        checkboxes: true,
        columns: columns,
        container: '#discounts-admin-table',
        deleteAction: 'commerce/discounts/delete',
        perPage: 2,
        reorderAction: 'commerce/discounts/update-sort-order',
        // reorderSuccessMessage: Craft.t('commerce', 'Items reordered.') ,
        // reorderFailMessage:    Craft.t('commerce', 'Couldn’t reorder items.'),
        search: true,
        // tableData: [],
        tableDataEndpoint: 'commerce/discounts/get-admin-table',
    });


var vueAdminTable = new Craft.VueAdminTable({
    // actions: [],
    // checkboxes: false,
    columns: columns,
    container: '#discounts-admin-table2',
    deleteAction: 'commerce/discounts/delete',
    perPage: 2,
    // reorderAction: 'commerce/discounts/update-sort-order',
    // reorderSuccessMessage: Craft.t('commerce', 'Items reordered.') ,
    // reorderFailMessage:    Craft.t('commerce', 'Couldn’t reorder items.'),
    tableData: {{ tableData|json_encode|raw }},
    // tableDataEndpoint: 'commerce/discounts/get-admin-table',
});
{% endjs %}
